body{
    margin: 0;
    padding: 0;
    
    background-image: url('net\ cover\ page.jpg');
    background-size: cover;
   
}
.navbar {
    background-color: #1c1c1c;
    color: white;
    border-color: red;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
  }

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: crimson;
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .nav-links li {
    display: inline;
  }

  .nav-links button {
    
  padding-top: 10px 15px;
  }

  .nav-links a:hover {
    color: #f39c12;
  }

  /* Responsive for mobile */
  @media (max-width: 600px) {
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  }
   

    .button-centre{
height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .button-centre button{
      background-color: red;
      border-color: transparent;
      height: 55px;
      width: 185px;
      border-radius: 10px;
      color: white;
    }
    button:hover{
      background-color: rgb(121, 2, 26);
    }
    .center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.text-center{
  color: red;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
}

